@use "sass:color";

@use "@material/theme/index" as theme with (
  $primary: #ff4151,
  $secondary: #282a36
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: theme.$primary;
}
